In [ ]:
import pymongo

In [ ]:
import pandas as pd

In [ ]:
client = pymongo.MongoClient(
    "mongodb://ramonr:galvanimongoe04@cluster0-shard-00-00.zvcdd.mongodb.net:27017,cluster0-shard-00-01.zvcdd.mongodb.net:27017,cluster0-shard-00-02.zvcdd.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-otfkns-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.RamonR # nome del database

In [ ]:
result = db.impianti.find_one()
result

{'ID_NIL': 33,
 'INDIRIZZO': 'Via MONTE PIANA 7',
 'LAT_Y_WGS84': 45.4304480881418,
 'LONG_X_WGS84': 9.24644868121172,
 'Location': nan,
 'MUNICIPIO': 4,
 'NIL': 'ROGOREDO - SANTA GIULIA',
 'Sit_NomeImpianto': 'MI ROGOREDO WS',
 'Sit_NomeVia': 'MONTE PIANA',
 'Sit_NumCiv': 7,
 'Sit_StatoImpianto': 'Acceso',
 'Ti_TipoImpianto': 'Altro',
 'Tv_TipoVia': 'Via',
 '_id': ObjectId('623d8a1209ff74c4613499c5'),
 'gestore': 'WorldSpace Italia S.p.A.'}

In [ ]:
result = db.impianti.find()
df = pd.DataFrame(list(result))
df

,_id,Sit_NomeImpianto,gestore,Ti_TipoImpianto,Sit_StatoImpianto,Tv_TipoVia,Sit_NomeVia,Sit_NumCiv,INDIRIZZO,MUNICIPIO,ID_NIL,NIL,LONG_X_WGS84,LAT_Y_WGS84,Location
0,623d8a1209ff74c4613499c5,MI ROGOREDO WS,WorldSpace Italia S.p.A.,Altro,Acceso,Via,MONTE PIANA,7.0,Via MONTE PIANA 7,4.0,33.0,ROGOREDO - SANTA GIULIA,9.246449,45.430448,NaN
1,623d8a1209ff74c4613499c6,SKY NUOVA SEDE,SKY Italia S.r.l.,Altro,Acceso,Sito,QUARTIERE SANTA GIULIA,NaN,Sito QUARTIERE SANTA GIULIA,4.0,33.0,ROGOREDO - SANTA GIULIA,9.241477,45.433735,NaN
2,623d8a1209ff74c4613499c7,FAMAGOSTA,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Altro,Acceso,Via,PALATUCCI,NaN,Via PALATUCCI,6.0,46.0,BARONA,9.170227,45.437167,NaN
3,623d8a1209ff74c4613499c8,SEDE TRENTO,A2A S.p.A.,Altro,Acceso,Piazza,TRENTO,13.0,Piazza TRENTO 13,5.0,27.0,PTA ROMANA,9.201723,45.446108,NaN
4,623d8a1209ff74c4613499c9,LAMBRO MILANO 1,ENAV S.p.A.,Altro,Acceso,Sito,AEROPORTO FORLANINI - MILANO LINATE,NaN,Sito AEROPORTO FORLANINI - MILANO LINATE,4.0,31.0,MONLUE' - PONTE LAMBRO,9.264506,45.459265,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1788,623d8a1209ff74c46134a0c1,HOTEL IBIS MILANO CENTRO,VODAFONE,WiFi,Acceso,Via,FINOCCHIARO APRILE,2.0,Via FINOCCHIARO APRILE 2,2.0,10.0,STAZIONE CENTRALE - PONTE SEVESO,9.201965,45.478223,NaN
1789,623d8a1209ff74c46134a0c2,MILANO RAI,e-via S.p.A.,WiFi,Acceso,Corso,SEMPIONE,27.0,Corso SEMPIONE 27,8.0,68.0,PAGANO,9.165719,45.478470,NaN
1790,623d8a1209ff74c46134a0c3,CORSO SEMPIONE,Linkem S.p.A.,WiFi,Acceso,Corso,SEMPIONE,27.0,Corso SEMPIONE 27,8.0,68.0,PAGANO,9.165822,45.478560,NaN
1791,623d8a1209ff74c46134a0c4,MI WIFI CAB GIOIA 22,TIM S.p.A.,WiFi,Acceso,Via,GIOIA Melchiorre,22.0,Via GIOIA Melchiorre 22,9.0,9.0,PORTA GARIBALDI - PORTA NUOVA,9.195718,45.484651,NaN
1792,623d8a1209ff74c46134a0c5,NOVOTEL MI NORD CA' GRANDA,VODAFONE,WiFi,Acceso,Viale,SUZZANI,13.0,Viale SUZZANI 13,9.0,14.0,NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE...,9.195909,45.506622,NaN

# elenco degli impianti accesi.nome e indirizzo

In [ ]:
result = db.impianti.find({"Sit_StatoImpianto": {"$regex":"Acceso"}},{"Sit_NomeImpianto":1,"INDIRIZZO":1,"_id":0})
df = pd.DataFrame(list(result))
df

                Sit_NomeImpianto                                 INDIRIZZO
0                 MI ROGOREDO WS                         Via MONTE PIANA 7
1                 SKY NUOVA SEDE               Sito QUARTIERE SANTA GIULIA
2                      FAMAGOSTA                             Via PALATUCCI
3                    SEDE TRENTO                          Piazza TRENTO 13
4                LAMBRO MILANO 1  Sito AEROPORTO FORLANINI - MILANO LINATE
...                          ...                                       ...
1783    HOTEL IBIS MILANO CENTRO                  Via FINOCCHIARO APRILE 2
1784                  MILANO RAI                         Corso SEMPIONE 27
1785              CORSO SEMPIONE                         Corso SEMPIONE 27
1786        MI WIFI CAB GIOIA 22                   Via GIOIA Melchiorre 22
1787  NOVOTEL MI NORD CA' GRANDA                          Viale SUZZANI 13

[1788 rows x 2 columns]

# gli indirizzi in cui si trovano gli impiantyi dell atm

In [ ]:
result = db.impianti.find({"Sit_NomeImpianto": {"$regex":"ATM"}},{"INDIRIZZO":1,"_id":0})
df = pd.DataFrame(list(result))
df

                    INDIRIZZO
0             Piazzale LORETO
1  Via Cardinal Mezzofanti 24
2               Via Esterle 6
3           Via ANASSAGORA 31

# impianti vodafone e atm

In [ ]:
result = db.impianti.find({"gestore": { '$in' : ["VODAFONE", "TIM S.p.A."]}})
df = pd.DataFrame(list(result))
df

,_id,Sit_NomeImpianto,gestore,Ti_TipoImpianto,Sit_StatoImpianto,Tv_TipoVia,Sit_NomeVia,Sit_NumCiv,INDIRIZZO,MUNICIPIO,ID_NIL,NIL,LONG_X_WGS84,LAT_Y_WGS84,Location
0,623d8a1209ff74c4613499d2,MI V.LE JENNER,TIM S.p.A.,Altro,Acceso,Viale,JENNER,17.0,Viale JENNER 17,9.0,78.0,FARINI,9.182194,45.497014,NaN
1,623d8a1209ff74c4613499d7,MI RIPAMONTI IEO MC,TIM S.p.A.,Microcella,Acceso,Via,RIPAMONTI,435.0,Via RIPAMONTI 435,5.0,85.0,PARCO DELLE ABBAZIE,9.208412,45.415033,NaN
2,623d8a1209ff74c4613499dd,SKY SANTA GIULIA,VODAFONE,Microcella,Acceso,Via,MONTE PENICE,7.0,Via MONTE PENICE 7,4.0,33.0,ROGOREDO - SANTA GIULIA,9.241015,45.433367,NaN
3,623d8a1209ff74c4613499de,SKY 3° SEDE,VODAFONE,Microcella,Acceso,Via,MONTE PENICE,7.0,Via MONTE PENICE 7,4.0,33.0,ROGOREDO - SANTA GIULIA,9.241015,45.433367,NaN
4,623d8a1209ff74c4613499df,ATAHOTEL QUARK,VODAFONE,Microcella,Acceso,Via,LAMPEDUSA,11.0,Via LAMPEDUSA 11,5.0,42.0,STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA...,9.189853,45.433571,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705,623d8a1209ff74c46134a09c,MI SILVA,TIM S.p.A.,Telefonia,Acceso SCIA con incoerenza grave,Via,Guglielmo Silva,36.0,Via Guglielmo Silva 36,8.0,58.0,DE ANGELI - MONTE ROSA,9.146772,45.479144,NaN
706,623d8a1209ff74c46134a0c0,TOWN HOUSE GALLERY,VODAFONE,WiFi,Acceso,Via,PELLICO,8.0,Via PELLICO 8,1.0,1.0,DUOMO,9.189730,45.465777,NaN
707,623d8a1209ff74c46134a0c1,HOTEL IBIS MILANO CENTRO,VODAFONE,WiFi,Acceso,Via,FINOCCHIARO APRILE,2.0,Via FINOCCHIARO APRILE 2,2.0,10.0,STAZIONE CENTRALE - PONTE SEVESO,9.201965,45.478223,NaN
708,623d8a1209ff74c46134a0c4,MI WIFI CAB GIOIA 22,TIM S.p.A.,WiFi,Acceso,Via,GIOIA Melchiorre,22.0,Via GIOIA Melchiorre 22,9.0,9.0,PORTA GARIBALDI - PORTA NUOVA,9.195718,45.484651,NaN
709,623d8a1209ff74c46134a0c5,NOVOTEL MI NORD CA' GRANDA,VODAFONE,WiFi,Acceso,Viale,SUZZANI,13.0,Viale SUZZANI 13,9.0,14.0,NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE...,9.195909,45.506622,NaN

# gli indirizzi in cui ce piu di un impianto

In [ ]:
result = db.impianti.aggregate([
                                    
                                   {"$group" : {"_id": "$INDIRIZZO", "impianti" : {"$sum" : 1}}},
                                   {"$match":{"impianti":{"$gt":1}}}
              
                                   ])
df = pd.DataFrame(list(result))
df

                            _id  impianti
0                   Via LARGA 6         2
1                 Via MARSALA 3         2
2             Via STEPHENSON 43         5
3        Viale GIAN GALEAZZO 25         3
4                  Largo GREPPI         2
..                          ...       ...
230       Piazza BOTTINI Enrico         2
231            Corso VENEZIA 43         3
232                Via ASELLI 9         3
233  Via Giuseppe Ripamonti 586         2
234                Via Folli 17         2

[235 rows x 2 columns]

# i gestori che son societa per azioni,ordinare in ordin e alfabetico

In [ ]:
result = db.impianti.aggregate([
                                  {"$match":{"gestore" : {"$regex" : "S.p.A."}}},
                                  { "$sort" : {"gestore" : 1}}
                                
                                  
                                   ])
df = pd.DataFrame(list(result))
df

,_id,Sit_NomeImpianto,gestore,Ti_TipoImpianto,Sit_StatoImpianto,Tv_TipoVia,Sit_NomeVia,INDIRIZZO,MUNICIPIO,ID_NIL,NIL,LONG_X_WGS84,LAT_Y_WGS84,Location,Sit_NumCiv
0,623d8a1209ff74c4613499c7,FAMAGOSTA,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Altro,Acceso,Via,PALATUCCI,Via PALATUCCI,6.0,46.0,BARONA,9.170227,45.437167,NaN,NaN
1,623d8a1209ff74c4613499d4,CASCINA GOBBA,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Altro,Acceso,Località,PARCHEGGIO ATM CASCINA GOBBA,Località PARCHEGGIO ATM CASCINA GOBBA,3.0,18.0,CIMIANO - ROTTOLE - Q.RE FELTRE,9.259625,45.510600,NaN,NaN
2,623d8a1209ff74c461349d8b,SAN DONATO,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Telefonia,Acceso,Via,MARIGNANO,Via MARIGNANO 51,4.0,32.0,TRIULZO SUPERIORE,9.256514,45.431533,NaN,51.0
3,623d8a1209ff74c461349d9d,FAMAGOSTA,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Telefonia,Acceso,Via,PALATUCCI,Via PALATUCCI,6.0,46.0,BARONA,9.170227,45.437167,NaN,NaN
4,623d8a1209ff74c461349e0a,BISCEGLIE,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Telefonia,Acceso,Via,PARRI,Via PARRI,6.0,53.0,LORENTEGGIO,9.112779,45.454637,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,623d8a1209ff74c46134a09e,EXPO2015,Wind Tre S.p.A.,Telefonia,Acceso SCIA con incoerenza grave,Via,Cristina di Belgioioso,Via Cristina di Belgioioso 70,8.0,73.0,CASCINA MERLATA,9.104936,45.521918,NaN,70.0
999,623d8a1209ff74c46134a09f,VIA D'ALVIANO,Wind Tre S.p.A.,Telefonia,Acceso con ultimo parere non rispetto limiti,Via,Romagnoli,Via Romagnoli 6,6.0,52.0,BANDE NERE,9.147157,45.455111,NaN,6.0
1000,623d8a1209ff74c46134a0a0,VIA MANZONI,Wind Tre S.p.A.,Telefonia,Acceso con ultimo parere non rispetto limiti,Via,dei GIARDINI,Via dei GIARDINI 7,1.0,2.0,BRERA,9.192500,45.471515,NaN,7.0
1001,623d8a1209ff74c4613499c5,MI ROGOREDO WS,WorldSpace Italia S.p.A.,Altro,Acceso,Via,MONTE PIANA,Via MONTE PIANA 7,4.0,33.0,ROGOREDO - SANTA GIULIA,9.246449,45.430448,NaN,7.0
1002,623d8a1209ff74c46134a0c2,MILANO RAI,e-via S.p.A.,WiFi,Acceso,Corso,SEMPIONE,Corso SEMPIONE 27,8.0,68.0,PAGANO,9.165719,45.478470,NaN,27.0

# il numero di impianti per ogni gestore

In [ ]:
result = db.impianti.aggregate([
                                   
                                   {"$group" : {"_id": "$gestore", "nImpianti" : {"$sum" : 1}}},
                                  
                                   ])
df = pd.DataFrame(list(result))
df

                                   _id  nImpianti
0            VIRGIN RADIO ITALY S.p.A.          9
1                        DVBCOM S.r.l.          1
2               CommsCon Italia S.r.l.        376
3                LifeGate Radio S.p.A.          3
4                      ELEMEDIA S.p.A.         20
..                                 ...        ...
64  RADIO REPORTER S.r.l. Unipersonale         16
65                 ILIAD ITALIA S.p.A.         78
66                   MEDIAPASON S.p.A.          3
67   RADIO PADANIA Società Cooperativa          1
68         CENTRO DI PRODUZIONE S.p.A.          6

[69 rows x 2 columns]

#i gestori che hanno piu di 100 impianti.Ordinare in ordine decrescente a partire da gestore che ha piu impianti

In [ ]:
result = db.impianti.aggregate([
                                   
                                   {"$group" : {"_id": "$gestore", "nImpianti" : {"$sum" : 1}}},
                                 {"$match":{"nImpianti":{"$gt":100}}},
                                { "$sort" : {"nImpianti" : -1}},
                                   ])
df = pd.DataFrame(list(result))
df

                             _id  nImpianti
0                     TIM S.p.A.        382
1         CommsCon Italia S.r.l.        376
2                       VODAFONE        328
3                Wind Tre S.p.A.        213
4  WIND TELECOMUNICAZIONI S.p.A.        102

# i gestori che hanno impianti all aereoporto di linate

In [ ]:
result = db.impianti.find({"Sit_NomeVia": {"$regex":"LINATE"}},{"gestore":1,"_id":0})
df = pd.DataFrame(list(result))
df

       gestore
0  ENAV S.p.A.
1  ENAV S.p.A.

# i gestori di cui non si conosce il tipo della via in cui si trovano i loro impianti

In [ ]:
from numpy import NaN
result = db.impianti.find({ "Tv_TipoVia": NaN},{"gestore":1,"_id":0})
df = pd.DataFrame(list(result))
df

Empty DataFrame
Columns: []
Index: []

# impianti ch esi trovano a cimiano

In [ ]:
result = db.impianti.find({"NIL": {"$regex":"CIMIANO"}})
df = pd.DataFrame(list(result))
df

,_id,Sit_NomeImpianto,gestore,Ti_TipoImpianto,Sit_StatoImpianto,Tv_TipoVia,Sit_NomeVia,INDIRIZZO,MUNICIPIO,ID_NIL,NIL,LONG_X_WGS84,LAT_Y_WGS84,Location,Sit_NumCiv
0,623d8a1209ff74c4613499d4,CASCINA GOBBA,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Altro,Acceso,Località,PARCHEGGIO ATM CASCINA GOBBA,Località PARCHEGGIO ATM CASCINA GOBBA,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.259625,45.510600,NaN,NaN
1,623d8a1209ff74c461349ba9,MI BELLINCIONE SC1,TIM S.p.A.,Microcella,Acceso,Via,BELLINCIONE,Via BELLINCIONE,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.238644,45.486685,NaN,NaN
2,623d8a1209ff74c461349baa,METRO-GALLERIA LAMBRATE-UDINE CV6BIS,CommsCon Italia S.r.l.,Microcella,Acceso,Piazza,MONTE TITANO,Piazza MONTE TITANO 6,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.237212,45.486778,NaN,6.0
3,623d8a1209ff74c461349bbf,METRO-GALLERIA LAMBRATE-UDINE MC,CommsCon Italia S.r.l.,Microcella,Acceso,Piazza,UDINE,Piazza UDINE,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.237036,45.490766,NaN,NaN
4,623d8a1209ff74c461349bc7,MI UDINE CARNIA MC,CommsCon Italia S.r.l.,Microcella,Acceso,Piazzale,UDINE,Piazzale UDINE,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.236847,45.491441,NaN,NaN
5,623d8a1209ff74c461349bc8,METRO-STAZ. UDINE MC,CommsCon Italia S.r.l.,Microcella,Acceso,Piazza,UDINE,Piazza UDINE,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.236848,45.491504,NaN,NaN
6,623d8a1209ff74c461349bd0,MI FELTRE CREVAL MC,TIM S.p.A.,Microcella,Acceso,Via,Feltre,Via Feltre 75,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.245721,45.492512,NaN,75.0
7,623d8a1209ff74c461349bd2,METRO-GALLERIA UDINE-CIMIANO,CommsCon Italia S.r.l.,Microcella,Acceso,Piazza,UDINE,Piazza UDINE,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.236354,45.492928,NaN,NaN
8,623d8a1209ff74c461349bd8,MI SANGRO MC,TIM S.p.A.,Microcella,Acceso,Via,SANGRO,Via SANGRO,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.236538,45.494007,NaN,NaN
9,623d8a1209ff74c461349bd9,SANGRO MC,CommsCon Italia S.r.l.,Microcella,Acceso,Via,SANGRO,Via SANGRO,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.238752,45.494003,NaN,NaN
10,623d8a1209ff74c461349bdd,viale Turchia MC,CommsCon Italia S.r.l.,Microcella,Acceso,Viale,TURCHIA,Viale TURCHIA,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.254832,45.495102,NaN,NaN
11,623d8a1209ff74c461349be1,METRO-GALLERIA UDINE-CIMIANO 1BIS MC,CommsCon Italia S.r.l.,Microcella,Acceso,Via,CARNIA,Via CARNIA 32,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.235776,45.495458,NaN,32.0
12,623d8a1209ff74c461349bf5,IT-LO-MIL-0359 VIA DON CALABRIA MC,CommsCon Italia S.r.l.,Microcella,Acceso,Via,DON CALABRIA,Via DON CALABRIA,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.243800,45.501139,NaN,NaN
13,623d8a1209ff74c461349c07,MI RIZZOLI MC,TIM S.p.A.,Microcella,Acceso,Via,RIZZOLI,Via RIZZOLI 8,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.252446,45.505548,NaN,8.0
14,623d8a1209ff74c461349f86,ROMBON,ILIAD ITALIA S.p.A.,Telefonia,Acceso,Via,ROMBON,Via ROMBON 97,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.254146,45.487795,NaN,97.0
15,623d8a1209ff74c461349fbd,VIA PALMANOVA,Wind Tre S.p.A.,Telefonia,Acceso con incoerenza grave,Via,PALMANOVA,Via PALMANOVA 22,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.232759,45.493205,NaN,22.0
16,623d8a1209ff74c46134a045,ROMBON,Wind Tre S.p.A.,Telefonia,Acceso SCIA,Via,ROMBON,Via ROMBON 97,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.254146,45.487795,NaN,97.0
17,623d8a1209ff74c46134a048,VIA FELTRE,VODAFONE,Telefonia,Acceso SCIA,Via,Plezzo,Via Plezzo 32,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.234686,45.488682,NaN,32.0
18,623d8a1209ff74c46134a051,QUARTIERE FELTRE,VODAFONE,Telefonia,Acceso SCIA,Via,Feltre,Via Feltre 100,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.250951,45.491609,NaN,100.0
19,623d8a1209ff74c46134a052,MI LAMBRO,TIM S.p.A.,Telefonia,Acceso SCIA,Via,Feltre,Via Feltre 100,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.250951,45.491609,NaN,100.0
20,623d8a1209ff74c46134a06f,VIA RIZZOLI,VODAFONE,Telefonia,Acceso SCIA,Via,Angelo RIZZOLI,Via Angelo RIZZOLI 8,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.252880,45.505070,NaN,8.0
21,623d8a1209ff74c46134a070,5G SAN RAFFAELE,VODAFONE,Telefonia,Acceso SCIA,Via,OLGETTINA,Via OLGETTINA 60,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.263383,45.506478,NaN,60.0
22,623d8a1209ff74c46134a078,CASCINA GOBBA,VODAFONE,Telefonia,Acceso SCIA,Località,Parcheggio ATM Cascina Gobba,Località Parcheggio ATM Cascina Gobba,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.259625,45.510600,NaN,NaN
23,623d8a1209ff74c46134a07c,VIA PADOVA,Wind Tre S.p.A.,Telefonia,Acceso SCIA,Via,PADOVA,Via PADOVA 366,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.257798,45.511360,NaN,366.0

# gli impianti ch enon sono accesi e che si trovano a cimiano e nel quartiere di adriano

# il quartiere con piu impianti

In [ ]:
result = db.impianti.aggregate([
                              {"$group" : { "_id": "$NIL", "total" : {"$sum" : 1}}},
                              {"$sort":{"total":-1}},
                               {"$limit":1}
                              
                              ])
df = pd.DataFrame(list(result))
maxlenght = df.iloc[0,0]
maxlenght

'DUOMO'