<a href="https://colab.research.google.com/github/paggiLuca/Python/blob/main/GROUPBY_PANDAS_ESERCIZI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/CappuCitti/Python-appunti-ed-esercizi/main/Pandas/Data/uffici_postali_milano.csv")
df

#OPERAZIONI SU COLONNE

2. visualizzare solo la prima colonna

In [43]:
df[df["MUNICIPIO"]== "5"]["Indirizzo"]

Series([], Name: Indirizzo, dtype: object)

In [44]:
#RICORDATI CHE IL PRIMO VALORE è LA RIGA, E IL SECONDO è LA COLONNA
df.iloc[:,1]

0      02-6572655
1     02-58320771
2       02-804336
3             NaN
4     02-76023056
         ...
77     02-8358241
78    02-32671911
79    02-58457911
80    02-41411311
81    02-69911111
Name: Telefono, Length: 82, dtype: object

In [45]:
df.iloc[:,[0]]

                      Indirizzo
0     BASTIONI DI PORTA VOLTA 7
1   CORSO DI PORTA VIGENTINA 35
2                CORSO ITALI 16
3             CORSO SEMPIONE 94
4              CORSO VENEZIA 42
..                          ...
77              VIALE GORIZIA 6
78       VIALE MONTE CENERI SNC
79          VIALE SABOTINO 21/A
80       VIALE SAN GIMIGNANO 10
81               VIALE ZARA 131

[82 rows x 1 columns]

3. visualizzare solo l'ultima colonna

In [46]:
df.iloc[:,[-1]]

                                  Location
0    (45.47960100000006;9.182151000000033)
1    (45.45253800000006;9.196519500000022)
2    (45.45789300000007;9.187470000000076)
3     (45.48654000000005;9.15850800000004)
4    (45.47186100000005;9.202702500000044)
..                                     ...
77  (45.454518000000064;9.173155500000064)
78   (45.49156751800007;9.153591732000052)
79  (45.451017000000036;9.200173500000062)
80  (45.455868000000066;9.136525500000062)
81   (45.50019300000008;9.196686000000057)

[82 rows x 1 columns]

4. visualizzare le colonne dalle terza alla quinta

In [20]:
df.iloc[:,2 : 6]

            Fax    CAP  MUNICIPIO  ID_NIL
0   02-29002004  20121          1       2
1   02-58319779  20122          1       5
2   02-86454450  20122          1       1
3           NaN  20154          8      69
4    02-7837251  20121          1       4
..          ...    ...        ...     ...
77   02-8373830  20144          6      44
78  02-32671947  20155          8      71
79  02-58457947  20135          5      27
80  02-41411347  20146          6      52
81  02-69911147  20159          9      12

[82 rows x 4 columns]

5. visualizzare la terza e la sesta colonna

In [47]:
df.iloc[:,[3,6]]

      CAP                                  NIL
0   20121                                BRERA
1   20122     PORTA VIGENTINA - PORTA LODOVICA
2   20122                                DUOMO
3   20154                                SARPI
4   20121                            GUASTALLA
..    ...                                  ...
77  20144           PORTA TICINESE - CONCHETTA
78  20155  VILLAPIZZONE - CAGNOLA - BOLDINASCO
79  20135                           PTA ROMANA
80  20146                           BANDE NERE
81  20159              MACIACHINI - MAGGIOLINA

[82 rows x 2 columns]

6. visualizzare la colonna dell'indirizzo e del municipio

In [48]:
df[['Indirizzo' , 'MUNICIPIO']]

                      Indirizzo  MUNICIPIO
0     BASTIONI DI PORTA VOLTA 7          1
1   CORSO DI PORTA VIGENTINA 35          1
2                CORSO ITALI 16          1
3             CORSO SEMPIONE 94          8
4              CORSO VENEZIA 42          1
..                          ...        ...
77              VIALE GORIZIA 6          6
78       VIALE MONTE CENERI SNC          8
79          VIALE SABOTINO 21/A          5
80       VIALE SAN GIMIGNANO 10          6
81               VIALE ZARA 131          9

[82 rows x 2 columns]

#OPERAZIONI SULLE RIGHE

7. visualizzare la prima riga

In [ ]:
df.iloc[[1]]

8. visualizzare l'ultima riga

In [ ]:
df.tail(1)

In [ ]:
df.iloc[[len(df) - 1]]

9. visualizzare la riga centrale

In [ ]:
#IL TERMINE // PRENDE IL RISULTATO SOLO IN INTERO
df.iloc[[(len(df) // 2)]]

10. visualizzare le righe 3, 4 e 12

In [ ]:
df.iloc[[3,4,12]]

11. visualizzare le righe dalla decima alla quindicesima

In [ ]:
df.iloc[10 : 16]

#operazioni sulle righe e sulle colonne

12. visualizzare la colonna indirizzo e NIL delle righe dalla decima alla quindicesima

In [ ]:
df.iloc[10 : 16][['Indirizzo', 'NIL']]

13. visualizzare le colonne telefono e fax delle righe 3, 5 e 12

In [ ]:
df.iloc[[3,5,12]] [['Telefono', 'Fax']]

14. visualizzare le colonne dalla 2 alla 6 delle righe dalla 3 alla 10

In [ ]:
df.iloc[2:7 , 3:10]

#ricerca di informazioni

15. visualizzare il numero di telefono dell'ufficio di piazza Napoli

In [32]:
#df[df['Indirizzo'].isin(['PIAZZA NAPOLI 38'])] [['Indirizzo','Telefono']]
df[df['Indirizzo'].str.contains('PIAZZA NAPOLI')][['Indirizzo' , 'Telefono']]

          Indirizzo     Telefono
6  PIAZZA NAPOLI 38  02-42255211

16. visualizzare l'indirizzo e il numero di telefono degli uffici postali di Niguarda

In [13]:
df[df['NIL'].str.contains('NIGUARDA')] [['Indirizzo' , 'Telefono']]

                 Indirizzo     Telefono
60            VIA PONALE 6  02-66100185
76  VIALE GIOVANNI SUZZANI   02-6470400

17. visualizzare l'indirizzo e il numero di telefono degli uffici postali dei municipi 1, 2 e 3

In [12]:
df[df['MUNICIPIO'].isin([1,2,3])] [['MUNICIPIO' ,'Indirizzo','Telefono']]

    MUNICIPIO                     Indirizzo     Telefono
0           1     BASTIONI DI PORTA VOLTA 7   02-6572655
1           1   CORSO DI PORTA VIGENTINA 35  02-58320771
2           1                CORSO ITALI 16    02-804336
4           1              CORSO VENEZIA 42  02-76023056
9           3                 VIA ADELCHI 2   02-2665192
10          2  VIA ALFREDO CAPPELLINI 17/19   02-6773311
13          2                 VIA ARQUA' 14  02-26141687
16          3                VIA BRONZINO 7  02-29527423
21          2           VIA COMUNE ANTICO 1  02-67070525
22          1                VIA CORDUSIO 4  02-72482126
25          1              VIA DELL'ORSO 11  02-80277311
27          3                 VIA DURAZZO 5  02-21040511
30          1      VIA FESTA DEL PERDONO 10  02-58207833
38          1        VIA GIOSUE' CARDUCCI 7  02-85917111
46          2      VIA LUIGI VARANINI 26/28  02-28181611
49          1       VIA MAZZINI GIUSEPPE 15  02-86396911
51          2                VIA MONDOVI' 2  02-26300993
55          3                 VIA ORTICA 19  02-70061332
64          3        VIA ROSOLINO PILO 19/A   02-2046789
66          1                VIA SAMBUCO 15  02-89405932
67          2             VIA SAN MAMETE 16   02-2566786
68          1         VIA SAN SIMPLICIANO 5  02-86396811
69          1             VIA SANTA SOFIA 8  02-58318572
71          2       VIA SCIPIONE PIATTOLI 6  02-26112432
72          1                   VIA VIGNA 6  02-86396711
73          3         VIALE ANDREA DORIA 48   02-2047169
75          2     VIALE EVARISTO STEFINI 12  02-67361911

18. visualizzare gli uffici di cui non si conosce il numero di telefono o il fax

In [11]:
df.loc[(df["Telefono"].isnull()) | (df["Fax"].isnull())] [["ID_NIL"]]
df[(df["Year of Release"] != 2020.0) | (df["Year of release"] != 2015 )]  [["Name of the show"]]

KeyError: ignored

In [33]:
#controllo su tutto il data frame
df[df.isna().any(axis =1)]

                  Indirizzo  ...                                Location
3         CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
26     VIA DELLA MOSCOVA 30  ...  (45.476856000000055;9.189607500000022)
31  VIA FILIPPO SASSETTI 27  ...   (45.48825900000003;9.193140000000028)
40   VIA GIUSEPPE PECCHIO 1  ...   (45.48473100000007;9.215860500000076)
59           VIA PINDARO 29  ...   (45.51700500000004;9.229959000000065)

[5 rows x 10 columns]

19. visualizzare il numero di uffici per ogni Nucleo di Identità Locale (NIL)

In [34]:
df.groupby("Telefono").count()

             Indirizzo  Fax  CAP  ...  LONG_X_4326  LAT_Y_4326  Location
Telefono                          ...
02-2046789           1    1    1  ...            1           1         1
02-2047169           1    1    1  ...            1           1         1
02-21040511          1    1    1  ...            1           1         1
02-2566786           1    1    1  ...            1           1         1
02-26112432          1    1    1  ...            1           1         1
...                ...  ...  ...  ...          ...         ...       ...
02-86396711          1    1    1  ...            1           1         1
02-86396811          1    1    1  ...            1           1         1
02-86396911          1    1    1  ...            1           1         1
02-89405932          1    1    1  ...            1           1         1
02-89511452          1    1    1  ...            1           1         1

[77 rows x 9 columns]

20. visualizzare il numero di uffici per ogni Nucleo di Identità Locale (NIL). Ordinare a partire dal NIL che ha più uffici in giù

In [ ]:
df['NIL'].value_counts()

21. visualizzare i municipi che hanno più di 15 uffici postali

In [36]:
df['MUNICIPIO'].value_counts()[df['MUNICIPIO'].value_counts() > 10]

1    14
9    13
Name: MUNICIPIO, dtype: int64

22. visualizzare il municipio che ha più uffici postali

In [37]:
df['MUNICIPIO'].value_counts().max()

14

23. visualizzare il municipio che ha meno uffici postali

In [ ]:
df['MUNICIPIO'].value_counts().min()
df["Indirizzo"]

24. visualizzare il numero medio di uffici postali in ogni municipio

In [39]:
df['MUNICIPIO'].value_counts()[df['MUNICIPIO'].value_counts() > df['MUNICIPIO'].value_counts().mean()]

1    14
9    13
Name: MUNICIPIO, dtype: int64

25. visualizzare i Municipi che hanno un numero di uffici postali superiore alla media

In [40]:
df['MUNICIPIO'].value_counts()[df['MUNICIPIO'].value_counts() > df['MUNICIPIO'].value_counts().mean()]

1    14
9    13
Name: MUNICIPIO, dtype: int64

26. eliminare tutti i record relativi al NIL di Niguarda

In [41]:
df = df.drop(df[df['NIL'].str.contains("NIGUARDA ")].index)
df

                      Indirizzo  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[80 rows x 10 columns]

27. eliminare le ultime tre colonne

In [6]:
df = df.drop(columns= df.iloc[:,-3:])

In [7]:
df

                               Indirizzo  ...                                  NIL
0              BASTIONI DI PORTA VOLTA 7  ...                                BRERA
1            CORSO DI PORTA VIGENTINA 35  ...     PORTA VIGENTINA - PORTA LODOVICA
2                         CORSO ITALI 16  ...                                DUOMO
4                       CORSO VENEZIA 42  ...                            GUASTALLA
5   LARGO GIOVANNI BATTISTA SCALABRINI 5  ...                          GIAMBELLINO
..                                   ...  ...                                  ...
77                       VIALE GORIZIA 6  ...           PORTA TICINESE - CONCHETTA
78                VIALE MONTE CENERI SNC  ...  VILLAPIZZONE - CAGNOLA - BOLDINASCO
79                   VIALE SABOTINO 21/A  ...                           PTA ROMANA
80                VIALE SAN GIMIGNANO 10  ...                           BANDE NERE
81                        VIALE ZARA 131  ...              MACIACHINI - MAGGIOLINA

[77 rows x 7 columns]

28. eliminare i record di cui non si conosce il numero di telefono o il fax

In [5]:
df = df.dropna(subset = ["Telefono" , "Fax"])
df

                               Indirizzo  ...                                Location
0              BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1            CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                         CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
4                       CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
5   LARGO GIOVANNI BATTISTA SCALABRINI 5  ...    (45.45039600000007;9.14118300000007)
..                                   ...  ...                                     ...
77                       VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78                VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79                   VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80                VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81                        VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[77 rows x 10 columns]

29. modificare il numero di telefono dell'ufficio di viale Zara in 02-69922222

In [3]:
df[df.Indirizzo.str.contains("VIALE ZARA")]["Telefono"] = "02-69922222"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [4]:
df

                      Indirizzo  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[82 rows x 10 columns]