<a href="https://colab.research.google.com/github/paggiLuca/Python/blob/main/Simulazione_verifica_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#STAMPO IL DATABASE DEI VACCINI:

In [ ]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/anagrafica-vaccini-summary-latest.csv",sep = ",")
df

  fascia_anagrafica    totale  ...  dose_booster  ultimo_aggiornamento
0             12-19   6268693  ...           229            2021-10-28
1             20-29   9891343  ...         25607            2021-10-28
2             30-39  10555697  ...         38989            2021-10-28
3             40-49  13761536  ...         49934            2021-10-28
4             50-59  15818591  ...         71049            2021-10-28
5             60-69  12875027  ...         90443            2021-10-28
6             70-79  10840433  ...         60543            2021-10-28
7             80-89   7541357  ...        586807            2021-10-28
8               90+   1721375  ...        130540            2021-10-28

[9 rows x 10 columns]

#aggiungere nuova colonna chiamata percentuali maschi e che contenga la percentuale di maschi vaccinati

In [ ]:
df['percentualeMaschi'] =  df['sesso_maschile'] / df['totale']  * 100
df

  fascia_anagrafica    totale  ...  ultimo_aggiornamento  percentualeMaschi
0             12-19   6268693  ...            2021-10-28          51.198137
1             20-29   9891343  ...            2021-10-28          52.285296
2             30-39  10555697  ...            2021-10-28          51.351199
3             40-49  13761536  ...            2021-10-28          49.626706
4             50-59  15818591  ...            2021-10-28          49.060077
5             60-69  12875027  ...            2021-10-28          48.522609
6             70-79  10840433  ...            2021-10-28          46.970698
7             80-89   7541357  ...            2021-10-28          41.746572
8               90+   1721375  ...            2021-10-28          29.916375

[9 rows x 11 columns]

Visualizzare il numero totale di persone vaccinate con la seconda dose (creo un nuovo database)

In [ ]:
df['totale'] + df['seconda_dose']

0     9209261
1    14479323
2    15444656
3    20179228
4    23155730
5    18823039
6    15998680
7    10929373
8     2489719
dtype: int64

#Visualizzare il numero totale di persone vaccinate con la seconda dose | METODO SUM PER SOMMARE |

In [ ]:
df['seconda_dose'].sum()

41434957

#ELIMINARE LE COLONNE SESSO MASCHILE SESSO FEMMINILE |METODO DROP RIMUOVE UNA COLONNA|

In [ ]:
df1 = df.drop(columns=['sesso_maschile','sesso_femminile'])
df1

  fascia_anagrafica    totale  ...  ultimo_aggiornamento  percentualeMaschi
0             12-19   6268693  ...            2021-10-28          51.198137
1             20-29   9891343  ...            2021-10-28          52.285296
2             30-39  10555697  ...            2021-10-28          51.351199
3             40-49  13761536  ...            2021-10-28          49.626706
4             50-59  15818591  ...            2021-10-28          49.060077
5             60-69  12875027  ...            2021-10-28          48.522609
6             70-79  10840433  ...            2021-10-28          46.970698
7             80-89   7541357  ...            2021-10-28          41.746572
8               90+   1721375  ...            2021-10-28          29.916375

[9 rows x 9 columns]

#ELIMINARE UNA RIGA DEL DATAFRAME

In [ ]:
df1 = df.drop([0, 1])
df1

  fascia_anagrafica    totale  ...  ultimo_aggiornamento  percentualeMaschi
2             30-39  10555697  ...            2021-10-28          51.351199
3             40-49  13761536  ...            2021-10-28          49.626706
4             50-59  15818591  ...            2021-10-28          49.060077
5             60-69  12875027  ...            2021-10-28          48.522609
6             70-79  10840433  ...            2021-10-28          46.970698
7             80-89   7541357  ...            2021-10-28          41.746572
8               90+   1721375  ...            2021-10-28          29.916375

[7 rows x 11 columns]

#ELIMINA UN RANGE DI RIGHE DEL DATAFRAME

In [ ]:
df1 = df.drop(range(2,7))
df1

  fascia_anagrafica   totale  ...  ultimo_aggiornamento  percentualeMaschi
0             12-19  6268693  ...            2021-10-28          51.198137
1             20-29  9891343  ...            2021-10-28          52.285296
7             80-89  7541357  ...            2021-10-28          41.746572
8               90+  1721375  ...            2021-10-28          29.916375

[4 rows x 11 columns]



#  Visualizzare solo il numeri di vaccinati della fascia 20-29

In [ ]:
df[df['fascia_anagrafica'] == '20-29'][['totale']]

    totale
1  9891343

#Visualizzare solo il numeri di vaccinati della fascia 20-29

In [ ]:
#LO DEVO TRASFORMARE IN INDICE
df = df.set_index('fascia_anagrafica')
df

                     totale  ...  percentualeMaschi
fascia_anagrafica            ...
12-19               6268693  ...          51.198137
20-29               9891343  ...          52.285296
30-39              10555697  ...          51.351199
40-49              13761536  ...          49.626706
50-59              15818591  ...          49.060077
60-69              12875027  ...          48.522609
70-79              10840433  ...          46.970698
80-89               7541357  ...          41.746572
90+                 1721375  ...          29.916375

[9 rows x 10 columns]

In [ ]:
#Prendo l'indice 20-29 e stampo nella sua colonna e riga, il valore Totale
df.loc['20-29' , 'totale']

9891343

#Sostituire al valore 90+ il valore 90-120

In [ ]:
df.loc['90+' , 'totale'] = '90-120'
df

                     totale  sesso_maschile  ...  percentualeMaschi   index
fascia_anagrafica                            ...
12-19               6268693         3209454  ...          51.198137     NaN
20-29               9891343         5171718  ...          52.285296     NaN
30-39              10555697         5420477  ...          51.351199     NaN
40-49              13761536         6829397  ...          49.626706     NaN
50-59              15818591         7760613  ...          49.060077     NaN
60-69              12875027         6247299  ...          48.522609     NaN
70-79              10840433         5091827  ...          46.970698     NaN
80-89               7541357         3148258  ...          41.746572     NaN
90+                 1721375          514973  ...          29.916375  90-120

[9 rows x 11 columns]